@mixin flexItemsCenter($direction) {
    display: flex;
    justify-content: space-between;
    flex-direction: $direction;
    align-items: center;
}

.message {
    @include flexItemsCenter(row);
    padding-left: 180px;
    padding-right: 180px;
    margin-top: 150px;
}

.message__avatar {
    display: block;
    max-width: 20px;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: auto;
}

.message__content {
    background-color: #f6f6f6;
    padding: 12px;
    color: #222222;
    border-radius: 15px;
}

.message__info {
    color: #c8c8c8;
    display: inline-block;
    margin-top: 5px;
}

